<!-- This is the "default" layout -->
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        
        <link rel="stylesheet" type="text/css" href="{{site.url}}/style.css"/>
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.url}}/feed.xml" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:400,700|Roboto:900" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{site.url}}/assets/7e2b9cb8580da2000986b691f2381013.ico/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

    </head>
    <body id="bootstrapoverride">
        <div id="backtotop" class="container container-nav">
            <div class="row">
                <div class="col-4 nav-logo">
                    <div class="container-logo">
                        <a href="{{site.url}}">
                            <div class="logo__circle"></div>
                            <div class="logo__cat">
                                <div class="logo__ear-left__cover"></div>
                                <div class="logo__ear-right__cover"></div>
                                <div class="logo__ear-left"></div>
                                <div class="logo__ear-right"></div>
                                <div class="logo__eye-right"></div>
                                <div class="logo__eye-left"></div>
                                <div class="logo__mouth__cover"></div>
                                <div class="logo__mouth"></div>
                                <div class="logo__body__cover"></div>
                                <div class="logo__body"></div>
                            </div>
                        </a>
                    </div>
                </div>

        {{ content }}
        
        <div id="scrolltocontact" class="container container-footer">
            <p class="hidden-lg-up">Medium - tablet</p>

            <div class="row justify-content-end">
                <div class="col-2 hidden-md-down">
                    <a href="#backtotop" id="#backtotop">
                        <div class="footer__link-top">
                            <div class="heading heading--regular heading--emphasize">Back to Top&nbsp;&uarr;</div>
                        </div>
                    </a>
                </div>

                <div class="col-4 hidden-lg-up hidden-sm-down">
                    <a href="#backtotop" id="#backtotop">
                        <div class="footer__link-top">
                            <div class="heading heading--regular heading--emphasize">Back to Top&nbsp;&uarr;</div>
                        </div>
                    </a>
                </div>

                <div class="col-6 hidden-md-up">
                    <a href="#backtotop" id="#backtotop">
                        <div class="footer__link-top">
                            <div class="heading heading--regular heading--emphasize">Back to Top&nbsp;&uarr;</div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col-8 hidden-sm-down">
                    <h3 class="heading heading--fancy">
                        Let's chat.<br>
                        <a href="#" class="footer__link-email">hello@sharonchen.design</a>
                    </h3>
                    <p class="footer__disclaimer">This website was designed and built by Sharon Chen. 2018. Chicago, IL.</p>
                </div>

                <div class="col-12 hidden-md-up">
                    <h3 class="heading heading--fancy">
                        Let's chat.<br>
                        <a href="#" class="footer__link-email">hello@sharonchen.design</a>
                    </h3>
                    <p class="footer__disclaimer">This website was designed and built by Sharon Chen. 2018. Chicago, IL.</p>
                </div>


                <!-- MD and up -->
                <div class="col-2 hidden-md-down">
                    <h4 class="heading heading--regular heading--emphasize">social</h4>
                    <ul class="list">
                        <li><a href="https://www.linkedin.com/in/sharonch3n/" target="_blank">LinkedIn</a></li>
                        <li><a href="https://medium.com/@sharingchen" target="_blank">Medium</a></li>
                        <li><a href="https://twitter.com/sharingchen" target="_blank">Twitter</a></li>
                        <li><a href="https://github.com/sharpiechen" target="_blank">Github</a></li>
                        <li><a href="https://dribbble.com/sharingchen" target="_blank">Dribbble</a></li>
                    </ul>
                </div>
                <div class="col-2 hidden-md-down">
                    <h4 class="heading heading--regular heading--emphasize">for fun</h4>
                    <ul class="list">
                        <li><a href="http://instagram.com/seesharunforit" target="_blank">Photography</a></li>
                        <li><a href="http://instagram.com/sharunswithmarkers" target="_blank">Instant Mindgrams</a></li>
                        <li><a href="https://www.pinterest.com/sharingchen/" target="_blank">Mood Boards</a></li>
                        <li><a href="https://soundcloud.com/sharonius" target="_blank">Music Inspo</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- SM -->
            <div class="row hidden-lg-up">
                <div class="col-6">
                    <h4 class="heading heading--regular heading--emphasize">social</h4>
                    <ul class="list">
                        <li><a href="https://www.linkedin.com/in/sharonch3n/" target="_blank">LinkedIn</a></li>
                        <li><a href="https://medium.com/@sharingchen" target="_blank">Medium</a></li>
                        <li><a href="https://twitter.com/sharingchen" target="_blank">Twitter</a></li>
                        <li><a href="https://github.com/sharpiechen" target="_blank">Github</a></li>
                        <li><a href="https://dribbble.com/sharingchen" target="_blank">Dribbble</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <h4 class="heading heading--regular heading--emphasize">for fun</h4>
                    <ul class="list">
                        <li><a href="http://instagram.com/seesharunforit" target="_blank">Photography</a></li>
                        <li><a href="http://instagram.com/sharunswithmarkers" target="_blank">Instant Mindgrams</a></li>
                        <li><a href="https://www.pinterest.com/sharingchen/" target="_blank">Mood Boards</a></li>
                        <li><a href="https://soundcloud.com/sharonius" target="_blank">Music Inspo</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{{site.url}}/scripts.js"></script>
    </body>
</html>
