<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello.css">
        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/animation.css">
        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i'>
        <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello-ie7.css"><![endif]-->
    </head>
    <body>
        <div class="container_fluid">
            <div class="row section__container">
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1"><a href="{{site.baseurl}}/" class="text__header">{{ site.name }}</a></div>
            </div>
        </div>
        {{ content }}
        <div class="container_fluid">
            <div class="row section__container footer__container">
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1"><div class="text__body">{{ site.name }}. 2016. Chicago, IL</div></div>
            </div>
        </div>
        <script src="{{site.baseurl}}/scripts.js"></script>
    </body>
</html>
