<!-- This is the "default" layout -->
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style.css"/>
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:400,700|Roboto:900" rel="stylesheet">
    </head>
    <body id="bootstrapoverride">
        <div id="#thisistop" class="container container-nav">
            <div class="row">
                <div class="col-4 nav-logo">
                    <div class="container-logo">
                        <a href="{{site.baseurl}}">
                            <div class="logo__circle"></div>
                            <div class="logo__cat">
                                <div class="logo__ear-left__cover"></div>
                                <div class="logo__ear-right__cover"></div>
                                <div class="logo__ear-left"></div>
                                <div class="logo__ear-right"></div>
                                <div class="logo__eye-right"></div>
                                <div class="logo__eye-left"></div>
                                <div class="logo__mouth__cover"></div>
                                <div class="logo__mouth"></div>
                                <div class="logo__body__cover"></div>
                                <div class="logo__body"></div>
                            </div>
                        </a>
                    </div>
                </div>

        {{ content }}
        
        <div class="container container-footer">
            <div class="row">
                <div class="col-8">
                    <h3 class="heading heading--fancy">
                        Let's work together.<br>
                        <a href="#" class="footer__link-email">hello@sharonchen.design</a>
                    </h3>
                    <p class="footer__disclaimer">
                        This website was designed and built by Sharon Chen. 2018. Chicago, IL.
                    </p>
                </div>
                <div class="col-2">
                    <h4 class="heading heading--regular heading--emphasize">social</h4>
                    <ul class="list">
                        <li><a href="#" target="_blank">LinkedIn</a></li>
                        <li><a href="#" target="_blank">Medium</a></li>
                        <li><a href="#" target="_blank">Twitter</a></li>
                        <li><a href="#" target="_blank">Github</a></li>
                        <li><a href="#" target="_blank">Dribbble</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <h4 class="heading heading--regular heading--emphasize">for fun</h4>
                    <ul class="list">
                        <li><a href="#" target="_blank">Photography</a></li>
                        <li><a href="#" target="_blank">Instant Mindgrams</a></li>
                        <li><a href="#" target="_blank">Mood Boards</a></li>
                        <li><a href="#" target="_blank">Music Inspo</a></li>
                    </ul>
                    <br><a href="#" id="#backtotop" class="heading heading--regular heading--emphasize">Back to Top</a>

                </div>
            </div>
        </div>
        <script src="{{site.baseurl}}/scripts.js"></script>
    </body>
</html>
