---
layout: works
---

<!-- This is the "post" layout -->

<div class="container-fluid container-post-breadcrumb">
    <div class="container">
        <a href="{{site.baseurl}}/work" class="heading heading--regular heading--emphasize">Work</a>
        <span class="heading heading--regular heading--emphasize">&nbsp;&nbsp;/&nbsp;&nbsp;{{ page.title }}</span>
    </div>
</div>

<div class="container-fluid container-post-cover" style="background-image: url('{{site.baseurl}}/assets/{{ page.cover }}');"></div>

<div class="container-fluid container-post-contents">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h4 class="heading heading--regular heading--emphasize">{{ page.categories | join: ', ' | remove: 'Featured' }}</h4>
                <hr>
                <h4 class="heading heading--regular heading--emphasize">{{ page.timeline }}</h4>
                <hr>
                <h4 class="heading heading--regular heading--emphasize">{{ page.tools }}</h4>
            </div>
            <div class="col-6 offset-lg-1">
                <h1 class="heading heading--fancy heading--emphasize heading-post-title">{{ page.title }}</h1>
                <!-- <div class="marker marker-post">01</div> -->
                <h4 class="heading heading--regular heading--emphasize">overview</h4>

                {{ content }}

            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-post-breadcrumb">
    <div class="container">
        <a href="#" class="heading heading--regular heading--emphasize">&larr;&nbsp;&nbsp;Previous Project</a>
        <span class="heading heading--regular heading--emphasize">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <a href="#" class="heading heading--regular heading--emphasize">Next Project&nbsp;&nbsp;&rarr;</a>
    </div>
</div>