---
layout: works
---

<!-- This is the "post" layout -->

<div class="container-fluid container-post-breadcrumb">
    <div class="container">
        <a href="{{site.baseurl}}/work" class="heading heading--regular heading--emphasize">Work</a>
        <span class="heading heading--regular heading--emphasize">&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;{{ page.title }}</span>
    </div>
</div>

<div class="container-fluid container-post-cover" style="background-image: url('{{site.baseurl}}/assets/{{ page.cover }}');"></div>

<div class="container-fluid container-post-contents">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h4 class="heading heading--regular heading--emphasize post__sidebar__header">Services</h4>
                <h4 class="heading heading--regular heading--emphasize post__sidebar__metadata">{{ page.categories | join: ', ' | remove: ', featured' }}</h4>
                <hr>
                <h4 class="heading heading--regular heading--emphasize post__sidebar__header">timeline</h4>
                <h4 class="heading heading--regular heading--emphasize post__sidebar__metadata">{{ page.timeline }}</h4>
                <hr>
                <h4 class="heading heading--regular heading--emphasize post__sidebar__header">tools</h4>
                <h4 class="heading heading--regular heading--emphasize post__sidebar__metadata">{{ page.tools }}</h4>
                <hr>
                <h4 class="heading heading--regular heading--emphasize post__sidebar__header">company</h4>
                <h4 class="heading heading--regular heading--emphasize post__sidebar__metadata">{{ page.client }}</h4>
            </div>
            <div class="col-8 container-post-body">
                <h1 class="heading heading--fancy heading--emphasize heading-post-title">{{ page.title }}</h1>

                {{ content }}

                {% for image in site.static_files %}
                    {% if image.path contains 'assets/6' %}
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" style="width:100%;"/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-post-breadcrumb">
    <div class="container">
    {% if page.previous.url %}
        <a href="/../..{{page.previous.url}}" class="heading heading--regular heading--emphasize">&larr;&nbsp;&nbsp;{{page.previous.title}}</a>
    {% endif %}
        <span class="heading heading--regular heading--emphasize">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
    {% if page.next.url %}
        <a href="..{{page.next.url}}" class="heading heading--regular heading--emphasize">{{page.next.title}}&nbsp;&nbsp;&rarr;</a>
    {% endif %}
    </div>
</div>

