---
layout: default
---

<!-- This is the "works" layout -->

                <div class="col nav-menu">
                    <a href="{{site.url}}" class="link heading heading--regular heading--emphasize">About</a>
                    <a href="{{site.url}}/work" class="link heading heading--regular heading--emphasize nav--active">Work</a>
                    <a href="#scrolltocontact" class="link heading heading--regular heading--emphasize nav__link-contact">Contact<span class="nav__link-contact--hidden">&nbsp;&darr;</span>
                </div>
            </div>
        </div>

       {{ content }}
        