---
layout: default
---

<!-- This is the "works" layout -->

                <div class="col nav-menu">
                    <a href="{{site.baseurl}}" class="link heading heading--regular heading--emphasize">About</a>
                    <a href="{{site.baseurl}}/work" class="link heading heading--regular heading--emphasize nav--active">Work</a>
                    <a href="#scrolltocontact" class="link heading heading--regular heading--emphasize">Contact</a>
                    <a href="https://medium.com/@sharingchen" target="_blank" class="link heading heading--regular heading--emphasize">Blog</a>
                </div>
            </div>
        </div>

       {{ content }}
        